.MuiList-root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;

  li {
    width: 33.33333%;
  }

  .MuiPaper-root {
    margin: 15px;
    max-width: 100%;

    .MuiCardMedia-root {
      background-size: contain;
    }
  }
}

.popup-edit-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;

  .MuiPaper-root {
    margin: auto;
  }

  .MuiCardMedia-root {
    background-size: contain;
  }

  .MuiFormControl-root {
    margin: 15px 0;
  }
}
